/* General */
html, body{
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 600px;
    margin: 0;
    padding: 0;
    font-family: "Gill Sans", sans-serif;
    overflow: hidden !important;
    background-color: #000;
}

/* App container */
#app-container{
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
}
/*Toolbar container*/
#toolbar-container{
    width: 100%;
    position: fixed;
    bottom: 0;
}
/*Caption container */
.captions-container{
    position: relative;
    top: 50% !important;
    margin-top: px !important;
    width: 1000px !important;
    height: 530px !important;
    margin: auto;
    padding: px;
    overflow-y: clip;
    overflow-x: clip;
    overflow-wrap: break-word;
    color: #ffffff;
    font-size: 94px;
    text-align: justify;
    white-space: normal;
}

/* Bottom bar */
.bottom-bar{
    position: relative;
    width: 50%;
    padding: 25px;
    background-color: #051e5c;
    white-space: nowrap;
    margin: auto;
    padding-left: 30px;
    border-radius: 25px 25px 0 0;
}

/*Mic button*/
.mic-button{
    position: relative;
    white-space: nowrap;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    left: 45%;
    
}

#recording{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: #ffffff;
    border: none;
}
#recording:hover{
    animation: blink 1s infinite;
}

/* Language selector */
.language{
    position: relative;
    width: 200px;
    height: 20px;
}
/* Animation */

@keyframes blink {
    50% {
        background-color: #fcfdff78;
    }
}

.fa-microphone{
    color: #093cbdc5;
}


