/* General */
html, body{
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 600px;
    margin: 0;
    padding: 0;
    font-family: "Gill Sans", sans-serif;
    color: #ffffff;
    overflow: hidden !important;
    background-color: #000;
}
/* Phrases */
#phrases{
    visibility: hidden;
}
/* App container */
#app-container{
    position: relative;
    min-width: 400px;
    width: 100%;
    height: 100%;
    margin: auto;
    /*margin: auto;*/
}

/**Caption container 
#captions-container{
    position: relative;
    top: 5% ;
    //margin-top: 15px ;
    //margin-bottom: 15px;
    padding-top: 150px;
    max-height: 100%;
    width: 1000px;
    height: 460px;
    margin: auto;
    //padding: px;
    overflow: hidden;
    //display: flex;
    //flex-direction: column;
    //justify-content: flex-start;
    //overflow-wrap: break-word;
    color: #ffffff;
    font-size: 100px;
    text-align: left;
    white-space: normal;
}*/
#captions-container {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50% , -50%);
    scroll-padding-top: 150px;
    /* max-height: 100%; */
    width: 1000px;
    height: 460px;
    margin: auto;
    overflow: hidden;
    color: #ffffff;
    font-size: 100px;
    text-align: center;
    white-space: normal;
    }

/* Language bar */
.language-bar{
    position: fixed;
    top:0px;
    left: 10px;
    padding: 10px;
    /*bottom:auto;*/
    width: 140px;
   /*height: px; Couleur de base: #051e5c*/ /*Transparent: #051e5c00*/
    /*margin: auto;*/
    border-radius: 6px;
    
}
.language-label{
    position: relative;
    padding-top: 15px;
    width: 140px;
    height: 20px;
}

/*Subscription panel*/
.subscription-panel{
    position: fixed;
    top:20px;
    right: 0px;
    padding: 10px 0px 0px;
    /*padding-left: 100px;*/
    bottom:auto;
    width: 30%; /*13%*/
    height: 100px; /*Couleur de base: #051e5c*/ /*Transparent: #051e5c00*/
    margin: auto;
    border-radius: 6px;
}

.subscription-region{
    padding-top: 15px;
    width: 120px
}

.password_box{
    height: 60px;
}

#showpassword_box{
    margin-top: 5px;
    display: flex;
}

#showpassword_box p {
    margin-top: 0;
    padding-left: 5px;
}

#reset_box{
    margin-top: 5px;
    display: flex;
}

#reset_box p {
    margin-top: 0;
    padding-left: 5px;
}

/* Captions font size slider*/
#captions-font-size {
    appearance: none;
    width: 68.5%; /* Full-width */
    height: 5px; /* Height of the slider */
    background: #ffffff6f; /* Background color of the slider */
    border: none;
    border-radius: 25px;
}
 /*Color slider*/
 #color-font {
    appearance: none;
    width: 68.5%; /* Full-width */
    height: 10px; /* Height of the slider */
    background: linear-gradient(to right, rgb(255, 0, 0) 0%, rgb(255, 255, 0) 17%, rgb(0, 255, 0) 33%, rgb(0, 255, 255) 50%, rgb(0, 0, 255) 67%, rgb(255, 0, 255) 83%, rgb(255, 0, 0) 100%); /* Background color of the slider */
    border: none;
    border-radius: 25px;
}
.accent{
    accent-color: #7c0505
}

.reset_box{
    background: rgba(255, 255, 255, 0.435);
    border: medium;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    padding: 0px;
    width: 40px;
    height: 30px;
    margin-top: 10px;
}

.reset_box:hover{
    background-color: rgba(255, 255, 255, 0.175);
}

.reset_box p{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
}


#key{
    margin-bottom: 15px;
    width: 85%;
}

#region{
    width: 85%;
}
::placeholder {
    color: #ffffff80;
}

.rec-button{
    position: fixed;
    left: 98.6%;
    width: 20px;
    height: 20px;
    top:  97.5%;
    border-radius: 50px;
    background-color: #7c0505; /*#7c0505*/
    
}

#key{
    margin-bottom: 0px;
}

/* Animation */

@keyframes blink {
    0% {
        background-color: #7c050580; /*#fcfdff78*/
    }

    25% {
        background-color: #7c05056a; /*#fcfdff78*/
    }

    50% {
        background-color: #7c050540;
    }

    75% {
        background-color: #7c050520;
    }

    100% {
        background-color: #7c050500; /*#fcfdff78*/
    }
}
.blink {
    animation: blink 1s infinite;
}


