/* General */
html, body{
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 600px;
    margin: 0;
    padding: 0;
    font-family: "Gill Sans", sans-serif;
    overflow: hidden !important;
    background-color: #000;
}

/* App container */
#app-container{
    position: relative;
    min-width: 400px;
    width: 100%;
    height: 100%;
    margin: auto;
    /*margin: auto;*/
}

/*Caption container */
#captions-container{
    position: relative;
    top: 10% /*!important*/;
    margin-top: px /*!important*/;
    width: 1000px /*!important*/;
    height: 540px /*!important*/;
    margin: auto;
    padding: px;
    overflow-y: clip;
    overflow-x: clip;
    overflow-wrap: break-word;
    color: #ffffff;
    font-size: 94px;
    text-align: left;
    white-space: normal;
}
/* Language bar */
.language-bar{
    position: fixed;
    top:0px;
    left: 10px;
    padding: 10px;
    bottom:auto;
    width: 13%;
    height: 50px; /*Couleur de base: #051e5c*/ /*Transparent: #051e5c00*/
    margin: auto;
    border-radius: 6px;
    
}
.language-label{
    position: relative;
    margin-top: 15px;
    width: 200px;
    height: 20px;
}
/*Subscription panel*/
.subscription-panel{
    position: fixed;
    top:20px;
    right: 0px;
    padding: 10px;
    padding-left: 100px;
    bottom:auto;
    width: 13%;
    height: 50px; /*Couleur de base: #051e5c*/ /*Transparent: #051e5c00*/
    margin: auto;
    border-radius: 6px;
    
}

#key{
    margin-bottom: 15px;
    width: 85%;
}

#region{
    width: 85%;
}
::placeholder {
    color: #ffffff80;
}

.rec-button{
    position: fixed;
    left: 98.6%;
    width: 20px;
    height: 20px;
    top:  97.5%;
    border-radius: 50px;
    background-color: #7c0505; /*#7c0505*/
    
}


/* Animation */

@keyframes blink {
    0% {
        background-color: #7c050580; /*#fcfdff78*/
    }

    25% {
        background-color: #7c05056a; /*#fcfdff78*/
    }

    50% {
        background-color: #7c050540;
    }

    75% {
        background-color: #7c050520;
    }

    100% {
        background-color: #7c050500; /*#fcfdff78*/
    }
}
.blink {
    animation: blink 1s infinite;
}


